USE [master]
GO
/****** Object:  Database [DokterspraktijkDB]    Script Date: 4/04/2026 10:50:12 ******/
CREATE DATABASE [DokterspraktijkDB]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DokterspraktijkDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DokterspraktijkDB]
GO
/****** Object:  Table [dbo].[Afspraak]    Script Date: 4/04/2026 10:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Afspraak](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[moment] [datetime] NOT NULL,
	[klacht] [text] NOT NULL,
	[patient_id] [int] NOT NULL,
	[dokter_id] [int] NOT NULL,
 CONSTRAINT [PK_Afspraak] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dokter]    Script Date: 4/04/2026 10:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dokter](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[voornaam] [nvarchar](50) NOT NULL,
	[achternaam] [nvarchar](50) NOT NULL,
	[gsm] [nchar](10) NULL,
	[email] [nvarchar](100) NOT NULL,
	[paswoord] [nvarchar](100) NOT NULL,
	[profielfotodata] [image] NULL,
	[rizivnummer] [int] NOT NULL,
	[isgeconventioneerd] [tinyint] NOT NULL,
 CONSTRAINT [PK_Dokter] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 4/04/2026 10:50:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[voornaam] [nvarchar](50) NOT NULL,
	[achternaam] [nvarchar](50) NOT NULL,
	[geslacht] [int] NOT NULL,
	[gsm] [nchar](10) NULL,
	[email] [nvarchar](100) NOT NULL,
	[paswoord] [nvarchar](100) NOT NULL,
	[geboortedatum] [datetime] NOT NULL,
	[profielfotodata] [image] NULL,
	[notificaties] [int] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Afspraak] ON 

INSERT [dbo].[Afspraak] ([id], [moment], [klacht], [patient_id], [dokter_id]) VALUES (1212, CAST(N'2026-05-01T09:00:00.000' AS DateTime), N'Hoofdpijn en duizeligheid', 2, 2)
INSERT [dbo].[Afspraak] ([id], [moment], [klacht], [patient_id], [dokter_id]) VALUES (1213, CAST(N'2026-05-08T10:30:00.000' AS DateTime), N'Keelpijn en koorts', 2, 3)
INSERT [dbo].[Afspraak] ([id], [moment], [klacht], [patient_id], [dokter_id]) VALUES (1214, CAST(N'2026-05-15T14:00:00.000' AS DateTime), N'Rugpijn onderrug', 2, 4)
GO
SET IDENTITY_INSERT [dbo].[Afspraak] OFF
GO
SET IDENTITY_INSERT [dbo].[Dokter] ON 

SET IDENTITY_INSERT [dbo].[Dokter] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([id], [voornaam], [achternaam], [geslacht], [gsm], [email], [paswoord], [geboortedatum], [profielfotodata], [notificaties]) VALUES (5, N'Yassine', N'Bellemans', 0, N'0478111001', N'yassine.bellemans@gmail.com', N'9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08', CAST(N'1998-03-12T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
ALTER TABLE [dbo].[Afspraak]  WITH CHECK ADD  CONSTRAINT [FK_Afspraak_Dokter] FOREIGN KEY([dokter_id])
REFERENCES [dbo].[Dokter] ([id])
GO
ALTER TABLE [dbo].[Afspraak] CHECK CONSTRAINT [FK_Afspraak_Dokter]
GO
ALTER TABLE [dbo].[Afspraak]  WITH CHECK ADD  CONSTRAINT [FK_Afspraak_Patient] FOREIGN KEY([patient_id])
REFERENCES [dbo].[Patient] ([id])
GO
ALTER TABLE [dbo].[Afspraak] CHECK CONSTRAINT [FK_Afspraak_Patient]
GO
ALTER TABLE [dbo].[Dokter]  WITH CHECK ADD  CONSTRAINT [CK_Rizivnummer] CHECK  (([rizivnummer]>=(1000000) AND [rizivnummer]<=(99999999)))
GO
ALTER TABLE [dbo].[Dokter] CHECK CONSTRAINT [CK_Rizivnummer]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CK_Geslacht] CHECK  (([geslacht]=(0) OR [geslacht]=(1) OR [geslacht]=(2) OR [geslacht]=(9)))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CK_Geslacht]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CK_Notificaties] CHECK  (([notificaties]>=(0) AND [notificaties]<=(3)))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CK_Notificaties]
GO
USE [master]
GO
